.connectIcons {
    width: 35px;
    height: 35px;
}

.stackIcons {
    width: 80%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

/*.carousel-inner {*/
/*    height: 500px;*/
/*}*/

/*.carousel-inner img {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    min-height: 500px;*/
/*}*/

#codingVsKaraoke {
    background-color: #ff90d8;
}

#codingVsKaraoke p {
    font-size: 1.16em;
}

#myProjects {
    background-color: #f28530;
}

footer {
    background-color: #d9f743;
}

#headshot {
    width: 80%;
    height: auto;
}

.sectionTitles {
    padding-bottom: 25px;
}

body {
    font-family: 'Alata', sans-serif;
}

h4 {
    color: #d9f743;
}

header {
    background-color: #141414;
    color: white;
}

span {
    color: #d9f743;
}