body {
    background-color: black;
    color: whitesmoke;
}

/* PORTFOLIO */
/*.projectCarousel{*/
/*    width: 40em;*/
/*}*/

/* CONNECT ICONS */
.connectIcons {
    width: 35px;
    height: 35px;
}

#name {
    font-size: 13em;

}